<div class="card m-3 shdw">
  <img
    src="/imagenCoche/<%=car.id%>"
    class="card-img-top" alt="imagen del coche">
  <div class="card-body">
    <h5 class="card-title">
      <%= car.name %>
    </h5>
    <p class="card-text">
      <%= car.plate %>
    </p>
    
  </div>
  <% if (car.status) { %>
    <div class="card-footer tarjeta-abajo-dentro text-end">
      DENTRO
    </div>
  <% } else { %>
    <div class="card-footer tarjeta-abajo-fuera text-end">
      FUERA
    </div>
  <% } %>
</div>