body{
    background-color: rgb(153, 211, 211);
}

.contenedor{
    background-color: white;
    padding: 0px;
}

.rojo{
    color: red;
}

.card {
    width: 20em;
    height: auto;
}

.tarjeta-abajo-dentro {
    padding: 0.25em;
    padding-right: 1em;
    background-color: rgb(81, 226, 73);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.tarjeta-abajo-fuera {
    padding: 0.25em;
    padding-right: 1em;
    background-color: rgb(211, 56, 56);
    color: rgb(255, 255, 255);
    font-weight: 700;
}