.panel-principal {
    background-color: #fff;
    box-shadow: 0px 18.92px 37.84px rgb(38 26 25 / 25%);
    border-radius: 8px;
    padding: 2em;
    width: 30em;
}

.logo {
    height: 7em;
    width: auto;
}



.enlace {
    font-weight: bold;
    text-decoration: none;
    color: #0063b3;
    transition: 0.3s;
}