<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">



        <div class="col-auto">
            <a class="navbar-brand" href="/">
                <img width="30px" height="30px" src="/images/logo.png" alt="logo Parking" title="app logo">
            </a>
        </div>
    </div>


    <ul class="navbar-nav me-3">
        <li class="nav-item dropstart">
            <a class="nav-link dropdown-toggle" href="#" id="menu1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/imagen/<%=usuario.id%>"
               alt="foto usuario" class="rounded-circle" width="30px" height="30px">
               
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu1">
                <li>
                    <h6 class="text-center">¡Bienvenido de nuevo
                        <%= usuario.name %>!</h6>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item button-tema2" href="/myprofile">Ver perfil</a></li>

                <li><a class="dropdown-item button-tema2" href="/logout">Desconectar</a></li>
            </ul>
        </li>
    </ul>
    </div>
</nav>

<div id="top-space"></div>